<p id="notice"><%= notice %></p>

<p>
  <strong>Date of registration:</strong>
  <%= @candidate.date_of_registration %>
</p>

<p>
  <strong>Date of closure:</strong>
  <%= @candidate.date_of_closure %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @candidate.age %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @candidate.branch %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @candidate.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @candidate.experience %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @candidate.gender %>
</p>

<p>
  <strong>Name:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @candidate.qualification %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @candidate.registration_number %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @candidate.remarks %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @candidate.specialization %>
</p>

<p>
  <strong>Source of registration:</strong>
  <%= @candidate.source_of_registration %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidate.state %>
</p>

<p>
  <strong>Status:</strong>
  <%= @candidate.status %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @candidate.zone %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
